workflow.json
{"updatedAt":"2026-05-11T19:05:55.806Z","createdAt":"2026-02-18T14:40:57.527Z","id":"Icu4A5yKEdIzDtYJ","name":"Robô","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":19}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-320,144],"id":"54da65ec-984b-4a5a-ac8d-171f8a123cfa","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Junta todas as conversas de TODOS os items\nconst todasConversas = [];\n\nfor (const item of items) {\n  if (item.json?.data?.payload) {\n    todasConversas.push(...item.json.data.payload);\n  }\n}\n\n// Filtra quem tem label robo\nconst resultado = todasConversas.filter(conv =>\n  Array.isArray(conv.labels) &&\n  conv.labels.some(l => String(l).toLowerCase() === \"robo\")\n);\n\n// Retorna cada conversa como um item separado\nreturn resultado.map(conv => ({\n  json: conv\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,160],"id":"1e820fbc-c135-4098-9592-b63a9ae2f8d7","name":"Code in JavaScript1"},{"parameters":{"method":"POST","url":"=https://YOUR_CHATWOOT_INSTANCE/api/v1/accounts/1/conversations/{{ $json.id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"YOUR_CHATWOOT_API_TOKEN"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"content\": \"Consegue me dar um retorno antes que a proposta expire?\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[656,160],"id":"4b5fb8c0-324c-4034-8903-6be65ec753c8","name":"HTTP Request2"},{"parameters":{"jsCode":"// Junta todas as conversas de TODOS os items\nconst todasConversas = [];\n\nfor (const item of items) {\n  if (item.json?.data?.payload) {\n    todasConversas.push(...item.json.data.payload);\n  }\n}\n\n// Filtra quem tem label robo\nconst resultado = todasConversas.filter(conv =>\n  Array.isArray(conv.labels) &&\n  conv.labels.some(l => String(l).toLowerCase() === \"robo\")\n);\n\n// Retorna cada conversa como um item separado\nreturn resultado.map(conv => ({\n  json: conv\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,176],"id":"91782688-f12b-4d0f-9ed5-efd709c194e9","name":"Code in JavaScript3"},{"parameters":{"method":"POST","url":"=https://YOUR_CHATWOOT_INSTANCE/api/v1/accounts/1/conversations/{{ $json.id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"YOUR_CHATWOOT_API_TOKEN"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { labels: ($json.labels || []).filter(l => l !== 'robo') } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2064,176],"id":"e46b338c-d669-4bbc-a525-a86ec486e9e2","name":"HTTP Request5"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-112,144],"id":"a304e46f-7c4b-42d1-af4a-72eeabf3af4e","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1104,160],"id":"3e11abe0-3a43-4532-bd33-d1bd15fed976"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[880,160],"id":"cc9593d5-1dc5-450a-8078-bd2679d0c14d","name":"Wait","webhookId":"438516e0-3ef8-4fb5-b93f-4825bf40b612"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,160],"id":"eca119a1-c17b-4ed1-a5c4-e5e404140458","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[2448,176],"id":"abf59017-061a-44a2-9929-73db3f70b734"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2272,176],"id":"846a5578-43c3-4b36-91fe-14bb22fde317","name":"Wait1","webhookId":"3955a389-4207-4b28-bd10-c1daf2dabc40"},{"parameters":{"jsCode":"const perPage = 100; // ajuste se quiser (50/100)\nconst pages = 80;\n\nreturn Array.from({ length: pages }, (_, i) => ({\n  json: { page: i + 1, per_page: perPage }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,160],"id":"3f9c0469-2002-45aa-9c85-f8bf6be69410","name":"Code in JavaScript"},{"parameters":{"url":"=https://YOUR_CHATWOOT_INSTANCE/api/v1/accounts/1/conversations","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"open"},{"name":"page","value":"={{ $json.page }}"},{"name":"per_page","value":"={{ $json.per_page }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"YOUR_CHATWOOT_API_TOKEN"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[256,160],"id":"e81f912e-18a6-4797-af60-2737bc2a851d","name":"Busca a conversa6","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const perPage = 100; // ajuste se quiser (50/100)\nconst pages = 80;\n\nreturn Array.from({ length: pages }, (_, i) => ({\n  json: { page: i + 1, per_page: perPage }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,176],"id":"0b38fdb4-2fce-41ef-8a3a-626119e4217f","name":"Code in JavaScript2"},{"parameters":{"url":"=https://YOUR_CHATWOOT_INSTANCE/api/v1/accounts/1/conversations","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"open"},{"name":"page","value":"={{ $json.page }}"},{"name":"per_page","value":"={{ $json.per_page }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"YOUR_CHATWOOT_API_TOKEN"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1696,176],"id":"0c7e20f0-52c3-4bb1-9ac2-15d049d5a9de","name":"Busca a conversa7","onError":"continueRegularOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Busca a conversa6","type":"main","index":0}]]},"Busca a conversa6":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Busca a conversa7","type":"main","index":0}]]},"Busca a conversa7":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"23e812d1-75da-4858-bb00-5153a123d0da","activeVersionId":"23e812d1-75da-4858-bb00-5153a123d0da","versionCounter":129,"triggerCount":1,"shared":[{"updatedAt":"2026-02-18T14:40:57.533Z","createdAt":"2026-02-18T14:40:57.533Z","role":"workflow:owner","workflowId":"Icu4A5yKEdIzDtYJ","projectId":"YOUR_PROJECT_ID","project":{"updatedAt":"2026-02-13T17:13:13.966Z","createdAt":"2026-02-13T17:11:14.602Z","id":"YOUR_PROJECT_ID","name":"YOUR_NAME <YOUR_EMAIL>","type":"personal","icon":null,"description":null,"creatorId":"YOUR_USER_ID"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-11T19:05:59.000Z","createdAt":"2026-05-11T19:05:55.816Z","versionId":"23e812d1-75da-4858-bb00-5153a123d0da","workflowId":"Icu4A5yKEdIzDtYJ","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":19}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-320,144],"id":"54da65ec-984b-4a5a-ac8d-171f8a123cfa","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Junta todas as conversas de TODOS os items\nconst todasConversas = [];\n\nfor (const item of items) {\n  if (item.json?.data?.payload) {\n    todasConversas.push(...item.json.data.payload);\n  }\n}\n\n// Filtra quem tem label robo\nconst resultado = todasConversas.filter(conv =>\n  Array.isArray(conv.labels) &&\n  conv.labels.some(l => String(l).toLowerCase() === \"robo\")\n);\n\n// Retorna cada conversa como um item separado\nreturn resultado.map(conv => ({\n  json: conv\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,160],"id":"1e820fbc-c135-4098-9592-b63a9ae2f8d7","name":"Code in JavaScript1"},{"parameters":{"method":"POST","url":"=https://YOUR_CHATWOOT_INSTANCE/api/v1/accounts/1/conversations/{{ $json.id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"YOUR_CHATWOOT_API_TOKEN"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"content\": \"Consegue me dar um retorno antes que a proposta expire?\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[656,160],"id":"4b5fb8c0-324c-4034-8903-6be65ec753c8","name":"HTTP Request2"},{"parameters":{"jsCode":"// Junta todas as conversas de TODOS os items\nconst todasConversas = [];\n\nfor (const item of items) {\n  if (item.json?.data?.payload) {\n    todasConversas.push(...item.json.data.payload);\n  }\n}\n\n// Filtra quem tem label robo\nconst resultado = todasConversas.filter(conv =>\n  Array.isArray(conv.labels) &&\n  conv.labels.some(l => String(l).toLowerCase() === \"robo\")\n);\n\n// Retorna cada conversa como um item separado\nreturn resultado.map(conv => ({\n  json: conv\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,176],"id":"91782688-f12b-4d0f-9ed5-efd709c194e9","name":"Code in JavaScript3"},{"parameters":{"method":"POST","url":"=https://YOUR_CHATWOOT_INSTANCE/api/v1/accounts/1/conversations/{{ $json.id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"YOUR_CHATWOOT_API_TOKEN"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { labels: ($json.labels || []).filter(l => l !== 'robo') } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2064,176],"id":"e46b338c-d669-4bbc-a525-a86ec486e9e2","name":"HTTP Request5"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-112,144],"id":"a304e46f-7c4b-42d1-af4a-72eeabf3af4e","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1104,160],"id":"3e11abe0-3a43-4532-bd33-d1bd15fed976"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[880,160],"id":"cc9593d5-1dc5-450a-8078-bd2679d0c14d","name":"Wait","webhookId":"438516e0-3ef8-4fb5-b93f-4825bf40b612"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,160],"id":"eca119a1-c17b-4ed1-a5c4-e5e404140458","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[2448,176],"id":"abf59017-061a-44a2-9929-73db3f70b734"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2272,176],"id":"846a5578-43c3-4b36-91fe-14bb22fde317","name":"Wait1","webhookId":"3955a389-4207-4b28-bd10-c1daf2dabc40"},{"parameters":{"jsCode":"const perPage = 100; // ajuste se quiser (50/100)\nconst pages = 80;\n\nreturn Array.from({ length: pages }, (_, i) => ({\n  json: { page: i + 1, per_page: perPage }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,160],"id":"3f9c0469-2002-45aa-9c85-f8bf6be69410","name":"Code in JavaScript"},{"parameters":{"url":"=https://YOUR_CHATWOOT_INSTANCE/api/v1/accounts/1/conversations","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"open"},{"name":"page","value":"={{ $json.page }}"},{"name":"per_page","value":"={{ $json.per_page }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"YOUR_CHATWOOT_API_TOKEN"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[256,160],"id":"e81f912e-18a6-4797-af60-2737bc2a851d","name":"Busca a conversa6","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const perPage = 100; // ajuste se quiser (50/100)\nconst pages = 80;\n\nreturn Array.from({ length: pages }, (_, i) => ({\n  json: { page: i + 1, per_page: perPage }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,176],"id":"0b38fdb4-2fce-41ef-8a3a-626119e4217f","name":"Code in JavaScript2"},{"parameters":{"url":"=https://YOUR_CHATWOOT_INSTANCE/api/v1/accounts/1/conversations","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"open"},{"name":"page","value":"={{ $json.page }}"},{"name":"per_page","value":"={{ $json.per_page }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"YOUR_CHATWOOT_API_TOKEN"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1696,176],"id":"0c7e20f0-52c3-4bb1-9ac2-15d049d5a9de","name":"Busca a conversa7","onError":"continueRegularOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Busca a conversa6","type":"main","index":0}]]},"Busca a conversa6":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Busca a conversa7","type":"main","index":0}]]},"Busca a conversa7":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]}},"authors":"YOUR_NAME","name":"Version 23e812d1","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-05-11T19:05:59.107Z","id":2902,"workflowId":"Icu4A5yKEdIzDtYJ","versionId":"23e812d1-75da-4858-bb00-5153a123d0da","event":"activated","userId":"YOUR_USER_ID"}]}}
